* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
     
}

img {
   display: block;
   max-width: 100%;
   object-fit: cover;
}

body {
   font-family: "Roboto", sans-serif;
   color: #434455;  
}

footer{
   padding: 100px 0;
}

.team_sec{
   background-color: #F4F4FD;
}

section {
   padding: 120px 0;
}

section h2 {
   margin-bottom: 20px;
}

header {
   border-bottom: 1px solid #e7e9fc;
}

.container_head {
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 100%;
}

.portfolio_card {
   border-bottom: 1px solid #ddd;
   padding-bottom: 10px;
}

.text_head {
   font-weight: 700;
   font-size: 56px;
   line-height: 1.07143;
   letter-spacing: 0.02em;
   text-align: center;
   color: #fff;
   max-width: 496px;
   margin: 0 auto 48px;
}

a {
   text-decoration: none;
   color: inherit;
}

.link_nav{
   padding: 24px 0;
}

li {
   list-style: none;
}

.site_footer {
   background-color: #2e2f42;
   color: white;
   padding: 100px 0;
}

.navigation_item:last-child {
   margin-right: 0;
}

.nav_container {
   display: flex;
   align-items: center;
}

.nav_list {
   display: flex;
   gap: 40px;
   list-style: none;
}

.logo_brand_nav {
   font-family: "Raleway", sans-serif;
   font-weight: 700;
   font-size: 18px;
   line-height: 1.17;
   letter-spacing: 0.03em;
   text-transform: uppercase;
   color: #4d5ae5;
   margin-right: 76px;
}

.logo_brand_foot{
   font-family: "Raleway", sans-serif;
   font-weight: 700;
   font-size: 18px;
   line-height: 1.17;
   letter-spacing: 0.03em;
   text-transform: uppercase;
   color: #4d5ae5;
   margin-bottom: 16px;
   display: inline-block;
}

.feature_text{
   line-height: 1.5;
}

.addres_cont {
   display: flex;
   gap: 40px;
   list-style: none;
   padding: 0;
   margin: 0;
}

.link_nav {
   font-weight: 500;
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.02em;
   color: #2e2f42;
   text-decoration: none;
   display: block;
   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
   position: relative;
   }

.list_marg{
   font-style: normal;
}

.nav_after::after {
   content: '';
   width: 100%;
   position: absolute;
   left: 0;
   bottom: -1px;
   height: 4px;
   background-color: #404bbf;
   border-radius: 2px;
}

.link_nav:hover {
   color: #404bbf;
}

.link_nav:active{
   color: #404bbf;
   text-decoration: underline;
}

.nav_list .navigation_item:first-child .link_nav {
   position: relative;
   color: #404bbf;
}

.title_two {
   font-weight: 700;
   font-size: 36px;
   color: #2e2f42;
   line-height: 1.11;
   text-align: center;
   letter-spacing: 0.02em;
   text-transform: capitalize;
   margin-bottom: 72px;
}

.portfolio_title {
   font-weight: 700;
   font-size: 36px;
   color: #2e2f42;
   line-height: 1.11;
   text-align: center;
   margin-bottom: 72px;
}

.teamsection_list {
   display: flex;
   gap: 24px;
   list-style: none;
   padding: 0;
}

.head_container{
   box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.teamsection_details {
   padding: 32px 0;
   text-align: center;
}

.title_three {
   font-weight: 500;
   font-size: 20px;
   line-height: 1.2;
   letter-spacing: 0.02em;
   color: #2E2F42;
   margin-bottom: 8px;
}

.text {
   font-weight: 400;
   font-size: 16px;
   letter-spacing: 0.02em;
   color: #434455;
}

.order_but {
   background-color: var(--button-bg-color, #4d5ae5);
   cursor: pointer;
   color: white;
   font-weight: 500;
   line-height: 1.5;
   letter-spacing: 0.04em;
   border-radius: 4px;
   width: 169px;
   height: 56px;
   display: block;
   border: none;
   margin: 0 auto;
   min-width: 169px;
   transition:background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order_but:hover {
   background-color: #404BBF;
}

.business_solution {
   max-width: 1440px;
   background-image:linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
   background-repeat: no-repeat;
   background-position: center;
   color: white;
   text-align: center;
   padding: 188px 0;
   border-radius: 4px;
   align-items: center;
   justify-content: flex-start;
   flex-direction: column;
   background-size: cover;
   margin: 0 auto;
}

.contacts_address {
   font-style: normal;
   letter-spacing: 0.02em;
}

.contacts{
   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts:hover,
.contacts:active,
.contacts:focus {
   color: #404BBF;
}

.studio {
   color: #2e2f42;
}


.text_footer {
   font-size: 16px;
   letter-spacing: 0.02em;
   color: #F4F4FD;
   max-width: 264px;
   font-weight: 400;
}

.social_text {
   font-weight: 500;
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.02em;
   margin-bottom: 16px;
}

.studio_white {
   color: #f4f4fd;
}

.container {
   max-width: 1158px;
   margin: 0 auto;
   padding: 0 15px;
   box-sizing: border-box;
}

.features_container {
   display: flex;
   flex-direction: row;
   gap: 24px;
}

.feature_item {
   width: calc((100% - 72px) / 4);
   flex-direction: column;
   gap: 24px;
   
}

.feature_title {
   font-weight: 500;
   font-size: 20px;
   color: #2e2f42;
   margin-bottom: 8px;
}

.teamsection_item {
   width: calc((100% - 72px) / 4);
   border-radius: 0px 0px 4px 4px;
   text-align: center;
   background-color: #fff;
   box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.ai_center{
   align-items: center;
}

.flexd_column {
   display: flex;
   flex-direction: column;
}

.portfolio_list_container {
   display: flex;
   flex-wrap: wrap;
   gap: 24px;
   row-gap: 48px;
   justify-content: flex-start;
}

.portfolio_item {
   text-align:left;
   width: calc((100% - 48px) / 3);
   transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio_item:hover{
   box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio_item:last-child {
   margin-bottom: 0;
}

.portfolio_content{
   padding: 32px 16px;
   border: 1px solid #e7e9fc;
   border-top: none;
}

.portfolio_name{
   margin-bottom: 8px;
}

.card {
   padding: 20px;
}

.portfolio_img {
   width: 100%;
   height: auto;
}

.visually-hidden {
   position: absolute;
   width: 1px;
   height: 1px;
   margin: -1px;
   border: 0;
   padding: 0;

   white-space: nowrap;
   clip-path: inset(100%);
   clip: rect(0 0 0 0);
   overflow: hidden;
}

.icon-soc{
   fill: #f4f4fd;
}

.icon-soc-foot {
   fill: #f4f4fd;
}

.icons_feature{
   border: 1px solid #8e8f99;
   margin-bottom: 8px;
   border-radius: 4px;
   width: 264px;
   height: 112px;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #f4f4fd;
     
}

.teamsection_icons{
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   margin-top: 8px;
   height: 40px;
   gap: 24px;
}

.icon_box{
   width: 40px;
   height: 40px;
   
   }

.social_link{
   background-color: #4D5AE5;
   border-radius: 50%;
   display: flex;
   height: 100%;
   justify-content: center;
   align-items: center;
   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.teamsection_icons .social_link:hover,
.teamsection_icons .social_link:focus{
   background-color: #404BBF;
}

.footer_icons .social_link:hover,
.footer_icons .social_link:focus {
   background-color: #31d0aa;
}

.footer_icons {
   flex-direction: column;
   margin-right: 80px;
}

.flexd_row {
   display: flex;
   flex-direction: row;
   align-items: baseline
}

.icons_row {
   display: flex;
   flex-direction: row;
   gap: 16px;
}

.portfolio_img{
   position: relative;
      overflow: hidden;
}

.overlay {
   padding: 40px 32px;
   background-color: #4d5ae5;
   color: #f4f4fd;;
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   transform: translateY(100%);
   transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
   line-height: 1.5;
   letter-spacing: 0.02em;

}

.portfolio_item:hover .overlay {
   transform: translateY(0%);
}

.logo_foot{
   margin-right: 120px;
}

.modal_overlay {
   background-color: rgba(46, 47, 66, 0.4);
   position:fixed;
   top:0;
   left:0;
   width: 100%;
   height: 100%;
   z-index: 999;
   display: flex;
   justify-content: center;
   align-items: center;

   opacity: 0;
   pointer-events: none;
   transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.modal_overlay.is_open{
   opacity: 1;
   pointer-events: auto;
}

.modal {
   background-color: #F4F4FD;
   overflow-y: auto;
   position: absolute;
   padding: 72px 24px 24px 24px;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   width: 408px;
   min-height: 584px;
   background: #fcfcfc;
   border-radius: 4px;
   transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
   box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.form_modal{
   flex-direction: column;
}

.form_label{
   display: block;
   margin-bottom: 4px;
   font-size: 12px;
   line-height: 1.17;
   letter-spacing: 0.04em;
   color: #8e8f99;

}

form{
   color: black;
}

.form_field{
   margin-bottom: 24px;
}

fieldset{
   border: 0;
}

.footer_form{
   gap: 24px;
   color: #F4F4FD;
   display: flex;
}

.icon_sub_foot{
   fill: #F4F4FD;
   margin-left: 16px;
}

.paragraph_sub{
   margin-bottom: 16px;
   font-weight: 500;
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.02em;
   color: #ffffff;
}

.email_sub{
   width: 264px;
   height: 40px;
   border: 1px solid #ffffff;
   background-color: transparent;
   font-size: 12px;
   line-height: 2;
   letter-spacing: 0.04em;
   padding-left: 16px;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
   border-radius: 4px;
   color: #ffffff;
}

.email_sub::placeholder{
   color: #ffffff;
}

.but_sub{
   display: flex;
   min-width: 165px;
   height: 40px;
   color: #ffffff;
   justify-content: center;
   align-items: center;
   font-family: "Roboto", sans-serif;
   font-size: 16px;
   font-weight: 500;
   line-height: 1.5;
   letter-spacing: 0.04em;
   cursor: pointer;
   background-color: #4D5AE5;
   border: none; 
   border-radius: 4px;
   margin: 0 auto;

}

.btn_close_modal {
   position: absolute;
   top: 24px;
   right: 24px;
   width: 24px;
   height: 24px;
   border-radius: 50%;
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: #e7e9fc;
   border: 1px solid rgba(0, 0, 0, 0.1);
   padding: 0;
   cursor: pointer;
   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn_close_modal:hover,
.btn_close_modal:focus{
   background-color: #404bbf;
   border: none;
}

.btn_close_img{
   transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn_close_modal:hover .btn_close_img,
.btn_close_modal:focus .btn_close_img {
   fill: #ffffff;
}

.prg_modal{
   font-weight: 500;
   font-size: 16px;
   line-height: 1.5;
   text-align: center;
   letter-spacing: 0.02em;
   color: #2E2F42;
   margin-bottom: 16px;

}

.name_inp{
   margin-bottom: 8px;

}

.inp_cont{
   position: relative;

}

.inp_modal{
   width: 100%;
   height: 40px;
   border: 1px solid rgba(46, 47, 66, 0.4);
   border-radius: 4px;
   background-color: transparent;
   padding-left: 38px;
   outline: transparent;
   transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.inp_modal:focus{
   border-color: #4D5AE5;
}

.inp_svg{
   position: absolute;
   left: 16px;
   top: 50%;
   transform: translateY(-50%);
   transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.inp_modal:focus + .inp_svg{
   fill: #4D5AE5;
}

.text_inp{
   margin-bottom: 16px;
}

.ta_input{
   width: 100%;
   height: 120px;
   font-size: 12px;
   line-height: 1.17;
   letter-spacing: 0.04em;
   color: rgba(46, 47, 66, 0.4);
   border: 1px solid rgba(46, 47, 66, 0.4);
   border-radius: 4px;
   background-color: transparent;
   padding: 8px 16px;
   outline: transparent;
   resize: none;
   transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.ta_input:focus{
   border-color: #4D5AE5;
}

.checkbox_label{
   font-size: 12px;
   line-height: 1.17;
   letter-spacing: 0.04em;
   color: #8e8f99;
}

.label_spn{
   width: 16px;
   height: 16px;
   border: 1px solid rgba(46, 47, 66, 0.4);
   border-radius: 2px;
   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
   display: inline-flex;
   align-items: center;
   justify-content: center;
   fill: transparent;
}

.checkb-icon{
   display: inline-block;
   background-color: #fff;
   border: 1px solid #ccc;
   transition: all 0.3s ease;
}

:root {
   --accent-color: #404bbf;
   --icon-fill: #F4F4FD;
}

.user-privacy:checked+.checkbox_label .label_spn {
   background-color: var(--accent-color);
   border: none;
   fill: var(--icon-fill);}

.link_policy{
   color:#4d5ae5;
}

.btn_modal_send{
   display: block;
   min-width: 169px;
   height: 56px;
   font-family: "Roboto", sans-serif;
   font-size: 16px;
   font-weight: 500;
   line-height: 1.5;
   letter-spacing: 0.04em;
   color: #ffffff;
   cursor: pointer;
   background-color: #4D5AE5;
   border: none;
   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}